<div class="maindiv">
  <div class="grid grid-cols-2 gap-4">
    <div class="col flex flex-col">

      <mat-card>
        <mat-card-title>
          GE Voluson E8
        </mat-card-title>
        <mat-card-content>
          <div class="container">
            <div class="image-container">
              <img class="image" src="../../../assets/ultrasounds/1gevoluson.png">
            </div>
            <div class="specs-container">
              <h3>SPECIFICATION:</h3>
              <p>Specifications for the GE Voluson E8</p>
           
                <li>YOM: 2019</li>
                <li>Software Version: BT19</li>
                <li>HW Accessories: BW Printer, FootSwitch</li>
                <li>Application: 4D OB/GYN</li>
                <li>Options Installed: Advanced 4D, HDLive Studio, Advanced VCI, DVD & USB Recorder, IEC62359 Ed.2, SonoAVC, SonoCNS, IETA, IOTA Adnex, BT Activation</li>
             
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Description
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description>
                  The GE Voluson E8 series is a comprehensive range of ultrasound machines that cater to the needs of Women’s Health professionals. It is designed with user comfort and ergonomic working positions in mind, suitable for all users. The systems’ design makes them easy to move around. The control panel height is easily adjusted to fit each individual user, and the display is on an articulating arm, ensuring a comfortable working position for all users.
                  The newer series includes the GE Voluson E8 BT15, BT16, BT17, BT18, BT19, and BT20 models. Each model offers unique features and capabilities, designed to optimize workflow, increase accuracy, and improve patient care.
                  The GE Voluson E8 BT20 is the latest addition to the series and offers state-of-the-art features that enhance image quality and workflow efficiency. The system comes equipped with innovative technologies, including the new Radiance System Architecture, which enables higher processing power, increased data storage, and faster image rendering.
                  The BT20 model also features advanced tools designed to support clinicians in the detection and diagnosis of fetal heart conditions. These tools include Fetal Heart STIC, Fetal Heart eSTIC, and Advanced STIC, which provide volumetric imaging of the fetal heart and enable detailed analysis of cardiac function.
                  These systems feature innovative technologies such as HDlive, which provides exceptional anatomical realism, and SonoRender Start, which allows for easy and quick 3D/4D imaging. Additionally, the series offers a range of advanced tools designed to support clinicians in the diagnosis of various gynecological conditions.
                  In conclusion, the GE Voluson E8 series is a top-of-the-line range of ultrasound machines designed to meet the diverse needs of Women’s Health professionals. With advanced features, ease of use, and user-friendly design, these systems offer exceptional imaging quality, accuracy, and efficiency, making them an ideal choice for any Women’s Health practice.
                </mat-panel-description>
              </mat-expansion-panel>
            </div>
          </div>
        </mat-card-content>
       
      </mat-card>
    </div>
    
    <div class="col flex flex-col">

      <mat-card style="margin-bottom: 10px;">
        <mat-card-title>
          GE Voluson E10 BT19 OLED
        </mat-card-title>
        <mat-card-content>
          <div class="container">
            <div class="image-container">
              <img class="image" src="../../../assets/ultrasounds/2gevolusion.png">
            </div>
            <div class="specs-container">
              <h3>SPECIFICATION:</h3>
              <p>Specifications for the GE Voluson E10 BT19 OLED</p>
              
                <li>YOM: 2017</li>
                <li>Software Version: EC340</li>
                <li>HW revision: BT19</li>
                <li>HW Accessories: Footswitch - BW - Printer</li>
                <li>Application: 4D OB/GYN</li>
           
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  
                    Options Installed
                
                </mat-expansion-panel-header>
                
                  
                    <li>Advanced 4D</li>
                    <li>e4D Advanced Features</li>
                    <li>Vocal II</li>
                    <li>Advanced VCI</li>
                    <li>Elastography</li>
                    <li>IOTA LR2</li>
                    <li>IOTA Simple Rules</li>
                    <li>V-SRI</li>
                    <li>CW</li>
                    <li>Advanced STIC</li>
                    <li>DVD & USB Recorder</li>
                    <li>IEC62359 Ed.2</li>
                    <li>SonoAVC</li>
                    <li>SonoCNS</li>
                    <li>Anatomical M-Mode Tricefy</li>
                    <li>fetalHQ</li>
                    <li>IETA</li>
                    <li>IOTA Adnex</li>
                    <li>BT Activation</li>
                 
                </mat-expansion-panel>
              
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Description
                  </mat-panel-title>
                </mat-expansion-panel-header>
                
                  The GE Voluson E10 OLED is a modern ultrasound system that was designed with both operator and patient in mind. Its ergonomic design guarantees comfort during extended use, and the user-friendly interface and adjustable settings make it easy to use, reducing down on exam time and boosting productivity. This enhances care and raises patient satisfaction.
                  The Voluson E10 OLED, which has an OLED display, outperforms conventional LCD screens with its astonishing clarity and brilliant colors. This technology enables accurate diagnosis and assured decision-making by enabling healthcare practitioners to perceive even the smallest details with unparalleled precision.
                  Renowned for its high-resolution imaging capabilities, the Voluson E10 OLED utilizes advanced technologies and algorithms to deliver exceptional image resolution. This enables clear visualization of small anatomical structures and subtle abnormalities, ensuring accurate diagnosis and treatment planning.
                  The system includes the BT19 software, an extensive collection of unique features and workflow tools that can be customized to increase productivity and efficiency during exams.
                  With wireless connectivity options, the Voluson E10 OLED seamlessly connects with hospital networks and other devices. This enables quick and easy transfer of data, images, and patient information, facilitating efficient workflow management and integration with electronic medical records (EMR) systems.
                  The system promotes user comfort and ease of use through ergonomic engineering. The user-friendly interface, well laid out menus, and configurable features improve ergonomic posture and reduce user fatigue, increasing operator comfort and productivity.
                  The combination of advanced features, intuitive interface, and customizable settings significantly enhances productivity in a clinical setting. 
                  Experience the GE Voluson E10 OLED and embrace the future of ultrasound imaging. With its exceptional image quality, advanced technology, and user-centric design, it empowers healthcare professionals to deliver superior care and improve patient outcomes. 
                </mat-expansion-panel>
              
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    
    
    <div class="col flex flex-col">

      <mat-card>
        <mat-card-title>
          Siemens Acuson Juniper
        </mat-card-title>
        <mat-card-content>
          <div class="container">
            <div class="image-container">
              <img class="image" src="../../../assets/ultrasounds/3siemens.png">
            </div>
            <div class="specs-container">
              <h3>SPECIFICATION:</h3>
              <p>Specifications for the Siemens Acuson Juniper</p>
            
                <li>YOM: 2020</li>
                <li>Software Version: VA10G</li>
                <li>HW Accessories: Gel Warmer</li>
                <li>Application: General Imaging</li>
              
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Description
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description>
                  The Siemens Acuson Juniper is a high-performance ultrasound machine that can scan every patient regardless of their condition, size or weight. This system is the best-in-class elastography and is designed to adapt to everyday clinical and workflow challenges. It is a small but a powerful system, and it is capable of accommodating all patients virtually. Moreover, it is one of the industry’s smallest ultrasound systems. It is up to 36% smaller and weighs an average of 27% less than other systems in its class. And the Siemens Acuson Juniper price will fit any budget.
    
                  The Acuson Juniper comes with an optimized accessibility and expanded application. It has unlimited versatility with front and back handle for effortless mobility. Additionally, the machine has a wide monitor, large touch display, and intuitive user interface. On top of that, to support multiple clinical applications, the Acuson Juniper has in total 6 ports, including 5 active transducer ports and 1 CW port. Furthermore, this system has a Shear wave elastography imaging that can consistently deliver high-quality images with high contrast resolution, high color sensitivity, complete image uniformity, and smooth dynamic flow.
                </mat-panel-description>
              </mat-expansion-panel>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
   
    
  </div>
</div>