<!-- 
<div class="appentry">
  <img src="../assets/cover.jpg">
  <div class="text-overlay">
    <h2 style="color: purple; font-size: large; font-weight: bolder;">Empowering Heathcare</h2>
    <p style="color: purple; font-weight: 900; font-style: italic;">One stop shop for all medical Equipments.</p>
  </div>
  
</div> -->
<div class="appentry">
  <img src="../assets/cover.jpg">
  <div class="text-overlay">
    <div class="circle-container">
    <div class="text-content">
      <h2 style="color: white; font-size: large; font-weight: bolder;">Empowering Heathcare</h2>
      <p style="color: white; font-weight: 500; font-style: italic;">One stop shop for all medical Equipments.</p>
    </div>
    </div>
  </div>
</div>

<hr>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
       <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/5 md:w-1/5 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="../../../assets/ctscan.png" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">CT Scan(s)</h3>
       
          <p class="leading-relaxed text-base">"CT scans use X-rays and advanced computer technology to
             create detailed cross-sectional images of the body."</p>
             <button routerLink="ctscans" mat-raised-button class="explorebtn">Check Availability</button>
        </div>
      </div>
      <div class="xl:w-1/5 md:w-1/5 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="../../../assets/MRI.png" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">MRI(s)</h3>
          <!-- <p >Available</p> -->
           <p class="leading-relaxed text-base">"MRI, or Magnetic Resonance Imaging, uses powerful magnets 
            and radio waves to create detailed images for detailed internal examination".</p> 
            <button routerLink="mris" mat-raised-button class="explorebtn">Check Availability</button>
        </div>
      </div>
      <div class="xl:w-1/5 md:w-1/5 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="../../../assets/ultrasound.png" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Ultrasound(s)</h3>
 
           <p class="leading-relaxed text-base">"Ultrasound imaging,uses high-frequency s
            ound waves to create real-time images of the body's internal structures,for diagnosis"</p> 
            <button routerLink="ultrasounds" mat-raised-button class="explorebtn">Check Availability</button>
        </div>
      </div>
      <div class="xl:w-1/5 md:w-1/5 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="../../../assets/xray.png" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">X-Ray(s)</h3>
       
          <p class="leading-relaxed text-base">"X-rays play a crucial role in mammograms, aiding in the early detection of breast cancer for improved healthcare outcomes."</p> 
          <button routerLink="mammos" mat-raised-button class="explorebtn">Check Availability</button>
        </div>
      </div>
      <div class="xl:w-1/5 md:w-1/5 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="../../../assets/mammogram.png" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">Mammograms(s)</h3>
        
           <p class="leading-relaxed text-base">"Mammograms are specialized X-ray exams used to
             screening and detectio of breast cancer early for timely 
             interventions."</p> 
          <button routerLink="mammos" mat-raised-button class="explorebtn">Check Availability</button>
        </div>
      </div>
    </div>
  </div>
</section>
