.maindiv {
  width: 95%;
  height: 100%;
  padding: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

mat-card {
  background-color: white;
  width: 85%;
  padding: 10px;
  margin: 10px;
}
.col{
  height: 50%;
}
.row {
  display: flex;
}

.container {
  display: flex; /* Make the container a flex container */
}



.specs-container {
  flex: 1; /* Let the specs container take 50% of the container's width */
}
.image {
  width: 200px; /* Set the desired width */
  height: auto; /* Allow the height to adjust automatically based on the width */
}
